<% if @current_user %> <!-- As an anonymous user, I cannot create new tasks & As a signed-in user, I want to create new tasks -->
  <h1>Do the TODOs</h1>
  <%= form_with model: @task do |form| %>
    <%= form.text_field "description" %>
    <%= form.submit "Add new task" %>
  <% end %>

  <table>
    <% for task in @tasks.where({ user_id: @current_user.id }) %> <!-- only tasks that the user created / Need to associate a task witha user in the controller-->
      <tr>
        <td>
          <%= task.description %>
        </td>
        <td>
          <%= button_to "Complete", task, method: :delete %>
        </td>
      </tr>
    <% end %>
  </table>
<% else%>
  <h1>Login to see your TODOs</h1>
<% end %>
